.page-footer {
  position: relative;
  width: 100%;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-position: center -34px;
  color: var(--color-light);


  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container> :last-child {
    margin-bottom: 0;
  }
}